:root{
    --orangeLight: #ff9c42;
    --orangeDark: #f88517;
    --grey: #33333B;
}

@font-face{
    font-family:"Bauhaus 93";
    src: url(./fonts/Bauhaus93Regular.ttf);
}

html, body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 50px 50px 70px 100px;
    border: 1px solid black;
}

/* NAV START */

/* GENERAL NAV */

.header{
    display: inherit;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    text-align: center;
    z-index: 100;
    padding: 0px;
    background-color: #33333B;
}

nav{
    display: inherit;
    grid-template-columns: repeat(13, 1fr); /* sets 3 sections for the navigation block */
    grid-row: 1 / 3;
    align-items: end;
    background-color: #33333B;
    margin: 0px;
    padding: 0px;

}

nav .primary{
    display: inherit;
    grid-auto-flow: column;
    grid-column: 3 / 12; /* positions list in one of 3 navigation blocks */
    grid-row: 2 / 3;
    align-content: end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.primary li{
    margin: 0;
}

.primary a{
    background-color: var(--grey);
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: grid;
    justify-content: stretch;
    align-content: center;
    height: 50px;
    margin: 0;
    position: relative;
}

.a:active{
    background-color: var(--grey);
}

/* LOGO */

.logo{
    display: inherit;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    align-self: center;
}

.logo_a{
    font-family: "Bauhaus 93";
    font-size: 2.5vw;
    z-index: 1;
}

.logo_a:hover{
    color: var(--orangeLight);
}

.logo_a:active{
    background-color: var(--grey);
}

/* LOGO */

/* UNDESRCORE */

.primary a::before{
    content:'';
    display: block;
    height: 4px;
    background: var(--orangeDark);
    position: absolute;
    bottom: .4em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 200ms;
}

.primary a:hover::before{
    transform: scale(1, 1);
}

/* UNDERSCORE */

/* PLUS */

.plus{
    color: var(--orangeLight);
    font-weight: 800;
    margin-left: 5px;
}

.primary a:hover .plus{
    color: white;
}

.primary a:hover .word{
    color: var(--orangeLight);
}

.plus2{
    display: none;
    color: var(--orangeLight);
    font-weight: 800;
    margin-left: 5px;
}

.secondary a:hover .plus2{
    color: white;
}

/* PLUS */

/* LOG IN & REGISTER */

nav .secondary{
    display: inherit;
    grid-column: 12 / 14;
    grid-row: 1 / 3;
    list-style-type: none;
    align-self: center;
    justify-self: end;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.secondary li{
    margin: 8px;
    margin-top: 0px;
}

.secondary a{
    background-color: orange;
    color: white;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: grid;
    margin: 0;
}

.secondary a:hover, a:active{
    background-color: var(--grey);
}

/* LOG IN & REGISTER */

/* SEARCH BAR */

.search{
    grid-row: 1 / 2;
    grid-column: 4 / 11;
    height: 20px;
}

.search .inputSearch{
    width: 84%;
    height: 100%;
    border-radius:;
}

form.searchForm button{
    float: right;
    width: 15%;
    height: 20px;
    background: #2196F3;
}

/* SEARCH BAR */

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
    display: inherit;
    justify-items: stretch;
}

nav a{
    color: white;
    text-decoration: none;
    display: inherit;
    margin: 0;
    padding: 0;
    justify-items: stretch;
    
}

/* GENERAL NAV */

/* VERTICAL NAV */

/* BURGER MENu, SEARCH ICON, X */

.nav-check{
    display: none;
}

.nav-check-label{
    z-index: 1;
    display: none;
    position: absolute;
    top: 72px;
    left: 30px;
}

.search-check{
    display: none;
}

.search-check-label{
    z-index: 1;
    display: none;
    position:absolute;
    top: 65px;
    right: 30px;
}

.search-x{
    display: none;
}

.search-x-label{
    z-index: 3;
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    display: none;
}

/* BURGER MENU, SEARCH ICON, X */

/* VERTICAL NAV */

/* NAV END */

.main{
    background-color:aquamarine;
    grid-column: 3 / 9;
}

.side{
    background-color:beige;
    grid-column: 9 / 12;
}

.footer{
    background-color: bisque;
    grid-column: 1 / -1;
}

form{
    position: relative;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    transition: all .5s;
    width: 50px;
    height: 50px;
    background: #4c4d57;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #4c4d57;
    padding: 5px;
    z-index: 10;
}

input{
    position: absolute;
    background-color: #4c4d57;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ff9c42;
    text-align: center;
    font-size: 1.5em;
    transition: all 1s;
}

form:hover{
    width: 800px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #ff9c42;
    color: #4c4d57;
}

@media only screen and (max-width: 1000px) {
    
    
    nav{
        height: 200px;
    }
    

    
    nav ul{
        transform: scale(0,1);
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        padding: 0px;
        margin: 0px;
    }
    
    .logo{
        grid-column: 4 / 9;
    }
    
    .logo_a{
        font-size: 10vw;
    }
    
/*    .search{
        display: none;
    }
    
    .searchForm{
        position: relative;
        left: 20%;
        top: 30%;
        height: 30%;
        width: 60%;
    }
    
    .search-check-label{
        display: block;
    }
    
    .search-check:checked ~ nav .search{
        background-color: black;
        display: block;
        grid-column: 1 / 14;
        grid-row: 1 / 3;
        align-self: center;
        height: 100%;
        z-index: 2;       
    }
    
    .search-check:checked ~ nav .search .inputSearch{
        font-size: 30px;
    }
    
    .search-check:checked ~ nav form.searchForm button{
    float: right;
    width: 15%;
    height: 110%;
    background: #2196F3;
}
    
    .search-x:checked ~ nav .search{
        display: none;
    }
    */
    
    /* NAV CHECK AND SEARCH CHECK */
    
    .nav-check-label{
        display: block;
    }
       
    .nav-check:checked ~ nav{
        transform: scale(1,1);

    }
    
    .nav-check:checked ~ nav .primary{
        transform: scale(1,1);      
        all: unset;
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .nav-check:checked ~ nav .secondary{
        transform: scale(1,1);
        all: unset;
        display: block;
        position: absolute;
        top: 350%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .nav-check:checked ~ nav .primary a{
        height: 100px;
        font-size: 5vw;
    }
    
    .nav-check:checked ~ nav .secondary a{
        padding: 10px;
        margin: 0px;
        font-size: 5vw;
        background-color: var(--grey);
        height: 100px;
        color: white;
        text-transform: uppercase;
    }
    
    .nav-check:checked ~ nav .secondary li{
        background-color: var(--grey);
        margin: 0px;
    }
    
    .nav-check:checked ~ nav .secondary a:hover{
        color: var(--orangeLight);
    }
    
    .nav-check:checked ~ nav .secondary .plus2{
        display:inline;
    }
    
    .primary a::before{
        height: 8px;
        bottom: .1em;
    }
    
    .secondary a::before{
        content:'';
        display: block;
        height: 8px;
        background: var(--orangeDark);
        position: relative;
        top: 2em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 200ms;
    }
    
    .secondary a:hover::before{
        transform: scale(1, 1);
}
}



/* COLOURS 

#ff9c42 - CT Orange
#f35d0e - dark orange
#f88517 - vibrant orange
#ff7003 - darker vibrant orange

 COLOURS */