:root{
    --orangeLight: #ff9c42;
    --orangeDark: #f88517;
    --grey: #33333B;
    --lightGrey: #2f323e;
    --background: #ececec;
}

@font-face{
    font-family:"Bauhaus 93";
    src: url(./fonts/Bauhaus93Regular.ttf);
}

html, body{
    height: 100%;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: var(--background);
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 50px 50px 5px auto 100px;
    grid-gap: 10px;
}

img{
    width: 100%;
    height: auto;
}

/* NAV START */

/* GENERAL NAV */

.header{
    display: inherit;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    text-align: center;
    z-index: 100;
    padding: 0px;
    background-color: #33333B;
}

nav{
    display: inherit;
    grid-template-columns: repeat(13, 1fr); /* sets 3 sections for the navigation block */
    grid-row: 1 / 3;
    align-items: end;
    background-color: #33333B;
    margin: 0px;
    padding: 0px;

}

nav .primary{
    display: inherit;
    grid-auto-flow: column;
    grid-column: 3 / 12; /* positions list in one of 3 navigation blocks */
    grid-row: 2 / 3;
    align-content: end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.primary li{
    margin: 0;
}

.primary a{
    background-color: var(--grey);
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: grid;
    justify-content: stretch;
    align-content: center;
    height: 50px;
    margin: 0;
    position: relative;
}

.a:active{
    background-color: var(--grey);
}

/* LOGO */

.logo{
    display: inherit;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    align-self: center;
}

.logo_a{
    font-family: "Bauhaus 93";
    font-size: 2.5vw;
    z-index: 1;
}

.logo_a:hover{
    color: var(--orangeLight);
}

.logo_a:active{
    background-color: var(--grey);
}

/* LOGO */

/* UNDESRCORE */

.primary a::before{
    content:'';
    display: block;
    height: 4px;
    background: var(--orangeDark);
    position: absolute;
    bottom: .4em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 200ms;
}

.primary a:hover::before{
    transform: scale(1, 1);
}

/* UNDERSCORE */

/* PLUS */

.plus{
    color: var(--orangeLight);
    font-weight: 800;
    margin-left: 5px;
}

.primary a:hover .plus{
    color: white;
}

.primary a:hover .word{
    color: var(--orangeLight);
}

.plus2{
    display: none;
    color: var(--orangeLight);
    font-weight: 800;
    margin-left: 5px;
}

.secondary a:hover .plus2{
    color: white;
}

/* PLUS */

/* LOG IN & REGISTER */

nav .secondary{
    display: inherit;
    grid-column: 12 / 14;
    grid-row: 1 / 3;
    list-style-type: none;
    align-self: center;
    justify-self: end;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.secondary li{
    margin: 8px;
    margin-top: 0px;
}

.secondary a{
    background-color: orange;
    color: white;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: grid;
    margin: 0;
}

.secondary a:hover, a:active{
    background-color: var(--grey);
}

/* LOG IN & REGISTER */

/* SEARCH BAR */

.search-div{
    display: inherit;
    grid-column: 5 / 10;
    grid-row: 1 / 2;
}

nav .search-div form.search{
    position: relative; 
    width: 100%;
    height: 40px;
    background: #4c4d57;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
}

input{
    position: absolute;
    background-color: #4c4d57;
    color: white;
    height: 40px;
    line-height: 20px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 25px;
    width: 100%;
}

.fa{
    box-sizing: border-box;
    padding: 8px;
    width: 40px;
    height: 40px;
    position: relative;
    left: 48%;
    border-radius: 50%;
    color: #ff9c42;
    text-align: center;
    font-size: 1.5em;
}

form.search:hover{
    cursor: pointer;
}

form.search input{
    display: block;
}

form.search .fa{
    background: #ff9c42;
    color: #4c4d57;
}

/* SEARCH BAR */

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
    display: inherit;
    justify-items: stretch;
}

nav a{
    color: white;
    text-decoration: none;
    display: inherit;
    margin: 0;
    padding: 0;
    justify-items: stretch;
    
}

/* GENERAL NAV */

/* VERTICAL NAV */

/* BURGER MENU */

.nav-check{
    display: none;
}

.nav-check-label{
    z-index: 1;
    display: none;
    position: absolute;
    top: 32px;
    left: 40px;
}

/* BURGER MENU */

/* VERTICAL NAV */

/* NAV END */

/* MAIN */

.main{
    display: inherit;
    grid-column: 3 / 9;
    grid-row: 4 / 5;


}

/* TABS */

.art-link{
    display: inherit;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px 550px auto;
}


.tab{
    display: inherit;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    grid-auto-flow: column;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button{
    background-color: var(--grey);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
}

.tab button:hover {
    color: var(--orangeLight);
}

.tab button.active{
    background-color: var(--orangeLight);
    color: var(--grey);
}

.tabcontent {
    display: inherit;
    grid-row: 2 / 3;
    grid-column: 1 / -1;

}

#Featured {
}

#Latest {
    grid-row: 2 / -1;
}

.tabcontent a{
    text-decoration: none;
    color: var(--lightOrange);
}


/* TABS */

.feature-div{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto minmax(200px, 1fr);
    margin-bottom: 25px;
}

.feature-div img{
    grid-column: 1 / 9;
}

.feature-div h1{
    color: var(--orangeLight);
    padding-left: 20px;
    font-style: oblique;
}

.link-overlay{
    background-color: white;
    grid-column: 1 / 9;
    grid-row: 2 / 3;
}

p{
    color: black;
    padding: 20px;
    padding-top: 0px;
    font-size: 1.3em;
}



/* MAIN */

/* SIDE */

.side{
    grid-column: 9 / 12;
    grid-row: 4 / 5;
}

.side-art-link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    grid-auto-rows: minmax(150px, auto);
}


.side-link-div{
    display: inherit;
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(100px, 1fr);
    margin-bottom: 20px;
    background-color: white;
}

.side-link-div img{
    width: 100%;
    height: auto;
    margin: 0px;
}

.side-link-div h1{
    padding-left: 5%;
    font-size: 2.5vh;
}

.side-link-div a{
    text-decoration: none;
    color: var(--orangeLight);
}

.side-link-div .ad{
    grid-row: 1 / 3;
}



.side-link-div p{
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5vh;
    margin: 0;
}

.tab-side{
    display: inherit;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tab-side button{
    background-color: var(--orangeLight);
    color: var(--grey);
    border: none;
    outline: none;
    font-size: 1.1em;
}

/* SIDE */

.footer{
    background-color: var(--grey);
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}

@media only screen and (max-width: 1600px){
    .main{
        grid-column: 2 / 9;
    }
    
    .side{
        grid-column: 9 / 13;
    }
}

@media only screen and (max-width: 1200px){
    .main{
        grid-column: 1 / 9;
    }
    
    .side{
        grid-column: 9 / 14;
    }
}

@media only screen and (max-width: 1000px) {
        
    nav{
        height: 200px;
    }
    
    nav ul{
        transform: scale(0,1);
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        padding: 0px;
        margin: 0px;
    }
    
    .logo{
        grid-column: 5 / 10;
        grid-row: 1 / 2;
    }
    
    .logo_a{
        font-size: 8vw;
    }

    
    /* NAV-CHECK */
    
    .nav-check-label{
        display: block;
    }
       
    .nav-check:checked ~ nav{
        transform: scale(1,1);

    }
    
    .nav-check:checked ~ nav .primary{
        transform: scale(1,1);      
        all: unset;
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .nav-check:checked ~ nav .secondary{
        transform: scale(1,1);
        all: unset;
        display: block;
        position: absolute;
        top: 350%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .nav-check:checked ~ nav .primary a{
        height: 100px;
        font-size: 5vw;
    }
    
    .nav-check:checked ~ nav .secondary a{
        padding: 10px;
        margin: 0px;
        font-size: 5vw;
        background-color: var(--grey);
        height: 100px;
        color: white;
        text-transform: uppercase;
    }
    
    .nav-check:checked ~ nav .secondary li{
        background-color: var(--grey);
        margin: 0px;
    }
    
    .nav-check:checked ~ nav .secondary a:hover{
        color: var(--orangeLight);
    }
    
    .nav-check:checked ~ nav .secondary .plus2{
        display:inline;
    }

    /* NAV-CHECK */
    
    /* UNDERSCORE FOR MOBILE */
    
    .primary a::before{
        height: 8px;
        bottom: .1em;
    }
    
    .secondary a::before{
        content:'';
        display: block;
        height: 8px;
        background: var(--orangeDark);
        position: relative;
        top: 2em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 200ms;
    }
    
    .secondary a:hover::before{
        transform: scale(1, 1);
    }
    
    /* UNDERSCORE FOR MOBILE */
    
    /* SEARCH BAR */
    
    .search-div{
        grid-column: 3 / 12;
        grid-row: 2 / 3;
        align-self: start;
    }
    
    nav .search-div form.search{
        height: 60px;
        border-radius: 30px;
    }
    
    input{
        height: 60px;
        border-radius: 30px;
    }
    
    .fa{
        height: 60px;
        width: 60px;
        font-size: 2em;
        padding: 15px;
    }
    
    /* SEARCH BAR */
    
}


/* COLOURS 

#ff9c42 - CT Orange
#f35d0e - dark orange
#f88517 - vibrant orange
#ff7003 - darker vibrant orange
#2f323e - light grey
#33333B - dark grey
#ececec - background

 COLOURS */